---
import "./ClassicSubmitOrderButton.css";
import ClassicModalPurchaseInfo from "../../ClassicModalPurchaseInfo/ClassicModalPurchaseInfo.astro";
import type { BlockData } from "../../../../../../lib/api/types";

const isHaveVariant : string = Astro.props.isHaveVariant;
const purchaseOptions: BlockData = Astro.props.purchaseOptions;

// Component configuration
const validateOnSubmit =  true;
const showValidationMessages =  true;
const autoFocusFirstError =  true;
const enableColorSizeValidation =  true;

---

<classic-submit-order 
  data-submit-validate-on-submit={validateOnSubmit}
  data-submit-show-validation-messages={showValidationMessages}
  data-submit-auto-focus-first-error={autoFocusFirstError}
  data-submit-enable-color-size-validation={enableColorSizeValidation}
  is-Have-Variant={isHaveVariant}
>
  <div>
    <button
      type="button"
      data-submit-order-button
      class="classic-form-submit"
      data-translate="form.submit"
    >
    </button>
  </div>
</classic-submit-order>

<!-- Include the modal component -->
<ClassicModalPurchaseInfo  is-Have-Variant={isHaveVariant} purchaseOptions={purchaseOptions} />

<script>
  import "./ClassicSubmitOrderButton";
</script>