---
import "./BoldSubmitOrderButton.css";
import BoldModalPurchaseInfo from "../../BoldModalPurchaseInfo/BoldModalPurchaseInfo.astro";
import type { BlockData, Product } from "../../../../../../lib/api/types";

const isHaveVariant : string = Astro.props.isHaveVariant;
const purchaseOptions: BlockData = Astro.props.purchaseOptions;
const product : Product = Astro.props.product;
// Component configuration
const validateOnSubmit =  true;
const showValidationMessages =  true;
const autoFocusFirstError =  true;
const enableColorSizeValidation =  true;
const isHaveBundles = !(purchaseOptions === undefined);
---

<bold-submit-order 
  data-submit-validate-on-submit={validateOnSubmit}
  data-submit-show-validation-messages={showValidationMessages}
  data-submit-auto-focus-first-error={autoFocusFirstError}
  data-submit-enable-color-size-validation={enableColorSizeValidation}
  is-Have-Variant={isHaveVariant}
  is-Have-Bundles={isHaveBundles}
>
  <div>
    <button
      type="button"
      data-submit-order-button
      class="bold-form-submit"
      data-translate="form.submit"
    >
    </button>
  </div>
</bold-submit-order>

<!-- Include the modal component -->
<BoldModalPurchaseInfo  isHaveVariant={isHaveVariant} purchaseOptions={purchaseOptions} product={product} />

<script>
  import "./BoldSubmitOrderButton";
</script>