---
import "./ClassicThemeReviews.css";
import type { BlockData, Review } from "../../../../../lib/api/types";
import ClassicBuyNowButton from "../UI/ClassicBuyNowButton/ClassicBuyNowButton.astro";

const data: BlockData = Astro.props.data;
const reviews: Review[] = data.reviews;
---

<section class="classic-section mb-8">
  <h2 class="classic-section-header">
    {data.title}
  </h2>

  <div class="classic-reviews-grid">
    {
      reviews.map((review) => (
        <div class="classic-review-card">
          <p class="classic-review-description">{review.description}</p>
          <div class="classic-review-author">
           <div class="flex justify-start items-center gap-2">
            <div class="w-12 h-12 rounded-full bg-white shadow-2xl flex items-center justify-center">
              <img
                src={review.image}
                alt={`Profile of ${review.name}`}
                class="w-10 h-10 rounded-full object-cover"
              />
            </div>
            <span class="classic-review-name">{review.name}</span>
            </div>
            <span class="classic-review-city">{review.city}</span>
          </div>
        </div>
      ))
    }
  </div>

  <div class="classic-reviews-action">
    <ClassicBuyNowButton />
  </div>
</section>
