---
import "./ClassicThemeReviews.css";
import type { BlockData, Item } from "../../../../../lib/api/types";
import ClassicBuyNowButton from "../UI/ClassicBuyNowButton/ClassicBuyNowButton.astro";
import { FunnelClassicComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
const reviews: Item[] = data.items ?? [];
---

<section id={FunnelClassicComponents.ClassicReviews} class="classic-section">
  <h2 class="classic-section-header">
    {data.title}
  </h2>
  
  <div class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-6 mb-8">
    {
      reviews.map((review) => (
        <div class="classic-review-card flex flex-col  border-l-4">
          <p class="classic-review-description text-base leading-relaxed mb-4 italic">{review.content}</p>
          <div class="flex-1"></div>
          <div class="classic-review-author flex flex-col gap-1">
           <div class="flex justify-start items-center gap-2">
            <div class="classic-review-author-image w-12 h-12 rounded-full flex items-center justify-center">
              <img
                src={review.image}
                alt={`Profile of ${review.label}`}
                class="w-10 h-10 rounded-full object-cover"
              />
            </div>
            <span class="classic-review-name font-semibold text-md">{review.label}</span>
            </div>
          </div>
        </div>
      ))
    }
  </div>
  
  <div class="classic-reviews-action flex justify-center mt-8">
    <ClassicBuyNowButton />
  </div>
</section>