---
// This component renders a fixed header for the Classic theme.
// It displays a logo, title, and subtitle.
// The header remains at the top of the viewport during scrolling.
// Props:
// - data: An object of type BlockData, expected to contain `logo` (URL), `title` (string),
//  and `subtitle`.

import type { BlockData } from "../../../../../lib/api/types";
import ClassicLanguageSwitcher from "../UI/ClassicLanguageSwitcher/ClassicLanguageSwitcher.astro";

// Defines the path to a default logo image, used as a fallback.
const defaultLogoSrc : string =  "assets/default-logo.svg";

// Retrieves the 'data' prop passed to the component.
const data : BlockData = Astro.props.data;

// Sets the logo URL: uses the logo from props if available, otherwise falls back to the default logo.
const logo = data?.logo || defaultLogoSrc;
// Sets the title: uses the title from props if available.
const title = data?.title;
// Sets the subtitle: uses the subtitle from props if available, otherwise falls back to an empty string.
const subtitle = data?.subtitle || "";
---

<header>
  <div class="classic-header bg-white shadow-sm fixed top-0 z-50 right-0 left-0">
  <div class="lg:container w-11/12 mx-auto py-2">
   <ClassicLanguageSwitcher />
    <div class="flex flex-col items-center">
      <div class="flex flex-col items-center text-center">
        <img
          id="headerLogo"
          src={logo}
          alt={title}
          class="w-[100px] mb-2 object-contain" 
        />
        <h1 class="text-4xl font-bold text-gray-900 leading-tight">
          {title}
        </h1>
        {subtitle && (
          <p class="text-sm text-gray-600 max-w-xs mt-1" title={subtitle}>
            {subtitle}
          </p>
        )}
      </div>
    </div>
  </div>
</div>
<div class="pt-40"></div>
</header>

<script>
  import { initHeader } from "./ClassicThemeHeader";
  initHeader();
</script>
