---
import "./ClassicThemeHeader.css";
import type { BlockData } from "../../../../../lib/api/types";
import ClassicLanguageSwitcher from "../UI/ClassicLanguageSwitcher/ClassicLanguageSwitcher.astro";

const defaultLogoSrc : string =  "assets/default-logo.svg";

const data : BlockData = Astro.props.data;

const logo = data?.logo || defaultLogoSrc;
const title = data?.title;
const subtitle = data?.subtitle || "";
---
<header>
  <div id="classic-header" class="classic-header">
    <div class="lg:container w-11/12 mx-auto py-2">
      <ClassicLanguageSwitcher />
      
      <div class="classic-header-content">
        <div class="classic-header-brand">
          <img
            id="headerLogo"
            src={logo}
            alt={title}
            class="classic-header-logo"
          />
          <h1 class="classic-header-title">
            {title}
          </h1>
          {subtitle && (
            <p class="classic-header-subtitle" title={subtitle}>
              {subtitle}
            </p>
          )}
        </div>
      </div>
    </div>
  </div>
  <div class="pt-36"></div>
</header>

<script>
  import { initHeader } from "./ClassicThemeHeader";
  initHeader();
</script>
