---
import "./ClassicProductFeatures.css"
import type { BlockData, Features } from "../../../../../lib/api/types";

const data: BlockData = Astro.props.data;
const productFeatures: Features[] = data.features;

---

<section id="classic-product-features" class="classic-section">
  <!-- Header -->
  <div class="classic-section-header">
    <i class={data.icon}></i>
    <h5>{data.title}</h5>
  </div>

  <!-- Features Grid -->
  <div class="classic-features-grid">
    {
      productFeatures.map((feature, index) => (
        <div class="classic-feature-card">
          <!-- Feature Icon -->
          <div class="classic-feature-icon-container">
            <i class={`${feature.icon} classic-feature-icon`} />
          </div>
          
          <!-- Feature Content -->
          <h3 class="classic-feature-title">
            {feature.title}
          </h3>
          <p class="classic-feature-subtitle">
            {feature.subtitle}
          </p>
        </div>
      ))
    }
  </div>
</section>