---
// server-side code
import "./NasaProductUsage.css";
import type { BlockData, VideoInfo } from "../../../../../lib/api/types";
import { FunnelNasaComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
const productUsage: VideoInfo[] = data.productUsage ?? [];

---

<section id={FunnelNasaComponents.NasaProductUsage} class="nasa-section">
    <!-- Header -->
    <div class="nasa-section-header">
        <i class={data.icon}></i>
        <h5>{data.title}</h5>
    </div>
    
    <!-- Video Grid -->
    <div class={`grid grid-cols-1 gap-x-2 gap-y-4 md:grid-cols-3`}>
        {
            productUsage.map((video) => (
                <div class="nasa-usage-card overflow-hidden">
                    <div class="nasa-usage-video relative">
                        <iframe
                            class="nasa-usage-iframe w-full h-[300px] lg:h-[620px]"
                            src={video.link}
                            title={video.title}
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        />
                    </div>
                    <div class="nasa-usage-content p-3">
                        <h3 class="nasa-usage-title font-medium text-base mb-1">
                            {video.title}
                        </h3>
                        <p class="nasa-usage-subtitle text-sm mb-2">
                            {video.subtitle}
                        </p>
                    </div>
                </div>
            ))
        }
    </div>
</section>