---
// This component renders the footer section for the troy theme.
// It displays information about the store and copyright details.
// Props:
// - data: An object of type BlockData, containing company name and year for the copyright notice.
import "./troyThemeFooter.css";
import type { BlockData } from "../../../../../lib/api/types";
import { FunneltroyComponents, FunnelNasaComponents } from "../../../../../lib/constants/themes";
// Defines the expected props for the component.

// Retrieves the data prop passed to the component.
const data: BlockData = Astro.props.data;
---

<footer id={FunneltroyComponents.troyFooter} class="troy-footer text-center w-full p-14 md:p-24 border-t-2 mx-auto">
  <div class="troy-footer-content flex flex-col justify-center items-center gap-7">
    <!-- Title -->
    <h5 class="troy-footer-title text-3xl font-bold">{data.company_name}</h5>
        
    <!-- Links -->
    <div class="troy-footer-links flex justify-center flex-wrap gap-6 text-sm font-medium mb-6">
      {data.policies.map((policy : string) => (
        <a href="#" class="troy-footer-link underline">{policy}</a>
      ))}
    </div>
        
    <!-- Social Icons -->
    <div class="troy-footer-social flex justify-center gap-6 text-2xl">
      {data.social_icons.map((iconClass : string, index : number) => (
        <a href="#" class="troy-footer-social-link" aria-label={`social-${index}`}>
          <i class={iconClass}></i>
        </a>
      ))}
    </div>
  </div>
</footer>