---
import "./ClassicDeliveryFeatures.css"
import type { BlockData, DeliveryFeatures, Features } from "../../../../../lib/api/types";

const data: BlockData = Astro.props.data;
const deliveryFeatures: Features[] = data.features;
---
<section id="classic-delivery-features" class="classic-section">
  <!-- Header -->
  <div class="classic-section-header">
    <i class={data.icon}></i>
    <h5>{data.title}</h5>
  </div>

  <!-- Delivery Features Grid -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    {
      deliveryFeatures.map((feature) => (
        <div class="classic-delivery-item">
          <!-- Feature Icon -->
          <div class="classic-delivery-icon-container">
            <i class={`${feature.icon} classic-delivery-icon`} />
          </div>
          
          <!-- Feature Content -->
          <h3 class="classic-delivery-title">
            {feature.title}
          </h3>
          <p class="classic-delivery-subtitle">
            {feature.subtitle}
          </p>
        </div>
      ))
    }
  </div>
</section>