---
import "./nasaThemeReviews.css";
import type { BlockData, Review } from "../../../../../lib/api/types";
import NasaBuyNowButton from "../UI/NasaBuyNowButton/NasaBuyNowButton.astro";

const data: BlockData = Astro.props.data;
const reviews: Review[] = data.reviews;
---

<section id="nasa-theme-reviews" class="nasa-section">
  <h2 class="nasa-section-header">
    {data.title}
  </h2>
  
  <div class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-6 mb-8">
    {
      reviews.map((review) => (
        <div class="nasa-review-card p-6 rounded-xl border-l-4">
          <p class="nasa-review-description text-base leading-relaxed mb-4 italic">{review.description}</p>
          <div class="nasa-review-author flex flex-col gap-1">
           <div class="flex justify-start items-center gap-2">
            <div class="w-12 h-12 rounded-full bg-white shadow-2xl flex items-center justify-center">
              <img
                src={review.image}
                alt={`Profile of ${review.name}`}
                class="w-10 h-10 rounded-full object-cover"
              />
            </div>
            <span class="nasa-review-name font-semibold text-[0.95rem]">{review.name}</span>
            </div>
            <span class="nasa-review-city text-[0.85rem]">{review.city}</span>
          </div>
        </div>
      ))
    }
  </div>
  
  <div class="nasa-reviews-action flex justify-center mt-8">
    <NasaBuyNowButton />
  </div>
</section>