---
// This component is the main entry point for the NASA theme.
// It orchestrates the rendering of various sub-components based on the data received from the API.
// Props:
// - funnelPage: An object of type Data, containing all the information for the funnel page.
import "./NasaComponent.css";
import NasaThemeHeader from "./NasaTheme/Nasa_Header/NasaThemeHeader.astro";
import NasaThemeProduct from "./NasaTheme/NasaThemeProduct/NasaThemeProduct.astro";
import NasaThemeCountDown from "./NasaTheme/NasaThemeCountdown/NasaThemeCountDown.astro";
import NasaFaq from "./NasaTheme/Nasa_Faq/NasaFaq.astro";
import NasaProductPreviewComponent from "./NasaTheme/Nasa_ProductPreview/NasaProductPreviewComponent.astro";
import { getNasaThemeComponent } from "../../../lib/utils/ThemeSelect";
import type { BlockData, Data } from "../../../lib/api/types";
import { FunnelNasaComponents } from "../../../lib/constants/themes";
import NasaThemeFooter from "./NasaTheme/NasaThemeFooter/NasaThemeFooter.astro";
import NasaThemeReviews from "./NasaTheme/Nasa_Theme_Reviews/NasaThemeReviews.astro";
import NasaProductUsage from "./NasaTheme/Nasa_ProductUsage/NasaProductUsage.astro";
import NasaDeliveryFeatures from "./NasaTheme/Nasa_Delivery_Features/NasaDeliveryFeatures.astro";
import NasaProductFeatures from "./NasaTheme/Nasa_Product_Features/NasaProductFeatures.astro";
import NasaThemeTodayStatistics from "./NasaTheme/NasaThemeTodayStatistics/NasaThemeTodayStatistics.astro";
import NasaLogosCarousel from "./NasaTheme/NasaLogosCarousel/NasaLogosCarousel.astro";
import NasaButtonWithLink from "./NasaTheme/NasaButtonWithLink/NasaButtonWithLink.astro";
import LucideIcon from "../../Shared/LucideIcon.astro";
import NasaGridImages from "./NasaTheme/NasaGridImagesComponent/nasaGridImages.astro";
import NasaThemeTextBar from "./NasaTheme/Nasa_Text_Bar/nasaThemeTextBar.astro";
import NasaImageTextOverlay from "./NasaTheme/Nasa_Image_Text_Overlay/nasaImageTextOverlay.astro";
import NasaImageTextBeside from "./NasaTheme/Nasa_Image_Text_Beside/nasaImageTextBeside.astro";
import NasaBeforeAfter from "./NasaTheme/NasaBefore&AfterImage/nasaBefore&After.astro";

interface ComponentCheckResult {
  isComponentFound: boolean;
  componentData: BlockData | undefined;
}

const funnelPage: Data = Astro.props.funnelPage;

// Maps the block names from the API response to their corresponding NASA theme components and data.
const nasaComponentNames: [FunnelNasaComponents, BlockData][] =
  funnelPage.blocks
    .map((block) => {
      const component = getNasaThemeComponent(block.name);
      return component ? [component, block.data] : undefined;
    })
    .filter(
      (tuple): tuple is [FunnelNasaComponents, BlockData] =>
        tuple !== undefined,
    );

// Checks if a specific component is present in the API response and returns its data if found.
function isComponentFound(
  componentName: FunnelNasaComponents,
): ComponentCheckResult {
  const found = nasaComponentNames.find(([comp]) => comp === componentName);
  return {
    isComponentFound: !!found,
    componentData: found?.[1],
  };
}

// Define render order - just change this array to reorder components!
const RENDER_ORDER = [
  FunnelNasaComponents.NasaHeader,
  FunnelNasaComponents.NasaProductFunnel, // Always render (required)
  FunnelNasaComponents.NasaProductFeatures,
  FunnelNasaComponents.NasaProductPreview,
  FunnelNasaComponents.NasaProductUsage,
  FunnelNasaComponents.NasaLogosCarousel,
  FunnelNasaComponents.NasaButtonWithLink,
  FunnelNasaComponents.NasaTodayStatistics,
  FunnelNasaComponents.NasaGallery,
  FunnelNasaComponents.Nasa_Before_After,
  FunnelNasaComponents.NasaReviews,
  FunnelNasaComponents.NasaTextBar,
  FunnelNasaComponents.NasaImageTextOverLay,
  FunnelNasaComponents.NasaImageTextBeside,
  FunnelNasaComponents.NasaFaq,
  FunnelNasaComponents.NasaDeliveryFeatures,
  FunnelNasaComponents.NasaCountdown,
  FunnelNasaComponents.NasaFooter,
];

// Extracts purchase options and other data
const productFunnelData = isComponentFound(
  FunnelNasaComponents.NasaProductFunnel,
);

const isFormFieldsDataFound = isComponentFound(
  FunnelNasaComponents.NasaFormFields,
);

const isCuponDataFound = isComponentFound(
  FunnelNasaComponents.NasaCoupon,
);

const isFakeVisitorsDataFound = isComponentFound(
  FunnelNasaComponents.NasaVisitors,
);

const isOrderThroughWhatsappDataFound = isComponentFound(
  FunnelNasaComponents.NasaOrderThroughWhatsapp,
);

const isOrderConfirmationNoticeFound = isComponentFound(
  FunnelNasaComponents.NasaOrderConfirmationNotice,
);

const isRatingFound = isComponentFound(FunnelNasaComponents.NasaRates);

const purchaseOptions = productFunnelData.isComponentFound
  ? productFunnelData.componentData?.purchase_options
  : undefined;

const formFieldsData = isFormFieldsDataFound.isComponentFound
  ? isFormFieldsDataFound.componentData
  : undefined;

const cuponData = isCuponDataFound.isComponentFound
  ? isCuponDataFound.componentData
  : undefined;

const fakeVisitorsData = isFakeVisitorsDataFound.isComponentFound
  ? isFakeVisitorsDataFound.componentData
  : undefined;

const ratingData = isRatingFound.isComponentFound
  ? isRatingFound.componentData
  : undefined;

const orderConfirmationNoticeData =
  isOrderConfirmationNoticeFound.isComponentFound
    ? isOrderConfirmationNoticeFound.componentData
    : undefined;

const orderThroughWhatsappData =
  isOrderThroughWhatsappDataFound.isComponentFound
    ? isOrderThroughWhatsappDataFound.componentData
    : undefined;

---

<main class="nasa-main-color">
  <section class="lg:container w-11/12 mx-auto flex flex-col gap-7">
  {
    RENDER_ORDER.map((componentName) => {
      if (componentName === FunnelNasaComponents.NasaHeader) {
        const headerData = isComponentFound(
          FunnelNasaComponents.NasaHeader,
        );
        return headerData.isComponentFound ? (
          <NasaThemeHeader data={headerData.componentData} funnelPage={funnelPage} />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaProductFunnel) {
        return (
          <NasaThemeProduct
            formFieldsData={formFieldsData}
            ratingData={ratingData}
            fakeVisitorsData={fakeVisitorsData}
            orderConfirmationNoticeData={orderConfirmationNoticeData}
            orderThroughWhatsappData={orderThroughWhatsappData}
            product={funnelPage.product}
            cuponData={cuponData}
            purchaseOptions={purchaseOptions}
          />
        );
      }
      
      if (componentName === FunnelNasaComponents.NasaCountdown) {
        const countdownData = isComponentFound(
          FunnelNasaComponents.NasaCountdown,
        );
        return countdownData.isComponentFound ? (
          <NasaThemeCountDown data={countdownData.componentData} />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaFaq) {
        const faqData = isComponentFound(FunnelNasaComponents.NasaFaq);
        return faqData.isComponentFound ? (
          <NasaFaq data={faqData.componentData} />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaLogosCarousel) {
        const logoscarouselData = isComponentFound(FunnelNasaComponents.NasaLogosCarousel);
        return logoscarouselData.isComponentFound ? (
          <NasaLogosCarousel data={logoscarouselData.componentData} />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaProductPreview) {
        const productPreviewData = isComponentFound(
          FunnelNasaComponents.NasaProductPreview,
        );
        return productPreviewData.isComponentFound ? (
          <NasaProductPreviewComponent
            data={productPreviewData.componentData}
          />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaButtonWithLink) {
        const buttonWithLinkData = isComponentFound(
          FunnelNasaComponents.NasaButtonWithLink,
        );
        return buttonWithLinkData.isComponentFound ? (
          <NasaButtonWithLink
            data={buttonWithLinkData.componentData}
          />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaGallery) {
        const galleryData = isComponentFound(
          FunnelNasaComponents.NasaGallery,
        );
        return galleryData.isComponentFound ? (
          <NasaGridImages
            data={galleryData.componentData}
          />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaTodayStatistics) {
        const todayOrdersData = isComponentFound(
          FunnelNasaComponents.NasaTodayStatistics,
        );
        return todayOrdersData.isComponentFound ? (
          <NasaThemeTodayStatistics
            data={todayOrdersData.componentData}
          />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaDeliveryFeatures) {
        const deliveryFeaturesData = isComponentFound(
          FunnelNasaComponents.NasaDeliveryFeatures,
        );
        return deliveryFeaturesData.isComponentFound ? (
          <NasaDeliveryFeatures data={deliveryFeaturesData.componentData} />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaProductFeatures) {
        const ProductFeaturesData = isComponentFound(
          FunnelNasaComponents.NasaProductFeatures,
        );
        return ProductFeaturesData.isComponentFound ? (
          <NasaProductFeatures data={ProductFeaturesData.componentData} />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaReviews) {
        const ReviewsData = isComponentFound(
          FunnelNasaComponents.NasaReviews,
        );
        return ReviewsData.isComponentFound ? (
          <NasaThemeReviews data={ReviewsData.componentData} />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaTextBar) {
        const TextBarData = isComponentFound(
          FunnelNasaComponents.NasaTextBar,
        );
        return TextBarData.isComponentFound ? (
          <NasaThemeTextBar data={TextBarData.componentData} />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaImageTextOverLay) {
        const ImageTextData = isComponentFound(
          FunnelNasaComponents.NasaImageTextOverLay,
        );
        return ImageTextData.isComponentFound ? (
          <NasaImageTextOverlay data={ImageTextData.componentData} />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaImageTextBeside) {
        const ImageTextData = isComponentFound(
          FunnelNasaComponents.NasaImageTextBeside,
        );
        return ImageTextData.isComponentFound ? (
          <NasaImageTextBeside data={ImageTextData.componentData} />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaProductUsage) {
        const productUsageData = isComponentFound(
          FunnelNasaComponents.NasaProductUsage,
        );
        return productUsageData.isComponentFound ? (
          <NasaProductUsage data={productUsageData.componentData} />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.Nasa_Before_After) {
        const BeforeAfterData = isComponentFound(
          FunnelNasaComponents.Nasa_Before_After,
        );
        return BeforeAfterData.isComponentFound ? (
          <NasaBeforeAfter data={BeforeAfterData.componentData} />
        ) : null;
      }
      
      if (componentName === FunnelNasaComponents.NasaFooter) {
        const footerData = isComponentFound(
          FunnelNasaComponents.NasaFooter,
        );
        return footerData.isComponentFound ? (
          <NasaThemeFooter data={footerData.componentData} />
        ) : null;
      }
      
      return null;
    })
  }
  <button id="scrollToTopBtn" class="fixed bottom-3 right-3 z-[50] md:bottom-5 md:right-5 nasa-scrollToTopBtn">
   <LucideIcon name="MoveUp" width="32" height="32" />
  </button>
  </section>
</main>
<script>
  import "./NasaTheme.config"
</script>