---
import "./nasaThemeHeader.css";
import type { BlockData } from "../../../../../lib/api/types";
import NasaLanguageSwitcher from "../UI/NasaLanguageSwitcher/NasaLanguageSwitcher.astro";

const defaultLogoSrc : string =  "assets/default-logo.svg";

const data : BlockData = Astro.props.data;

const logo = data?.logo || defaultLogoSrc;
const title = data?.title;
const subtitle = data?.subtitle || "";
---
<header>
  <div id="nasa-header" class="nasa-header fixed top-0 left-0 right-0 z-50">
    <div class="container mx-auto py-2">
      <NasaLanguageSwitcher />
      
      <div class="flex flex-col items-center">
        <div class="flex flex-col items-center text-center">
          <img
            id="headerLogo"
            src={logo}
            alt={title}
            class="nasa-header-logo w-25 mb-2 object-contain"
          />
          <h1 class="nasa-header-title text-4xl font-bold leading-tight">
            {title}
          </h1>
          {subtitle && (
            <p class="nasa-header-subtitle text-sm max-w-80 mt-1" title={subtitle}>
              {subtitle}
            </p>
          )}
        </div>
      </div>
    </div>
  </div>
  <div class="pt-36"></div>
</header>

<script>
  import { initHeader } from "./NasaThemeHeader";
  initHeader();
</script>