---
import "@fontsource/tajawal/300.css";
import "@fontsource/tajawal/400.css";
import "@fontsource/tajawal/500.css";
import "@fontsource/tajawal/700.css";
import "@fontsource/tajawal/800.css";
import "@fontsource/tajawal/900.css";

import "../../../styles/global.css";

import ClassicThemeTodayOrders from "./ClassicTheme/ClassicThemeTodayOrders.astro";
import ClassicThemeProductFunnel from "./ClassicTheme/ClassicThemeProductFunnel.astro";
import ClassicThemeFooter from "./ClassicTheme/ClassicThemeFooter.astro";
import { FunnelClassicComponents } from '../../../Interfaces/Themes';
import type { Data, BlockData } from "../../../Interfaces/Products";
import { getClassicThemeComponent } from "../../../Services/ThemesSelectService";
import ClassicThemeRates from "./ClassicTheme/ClassicThemeRates.astro";
import ClassicThemeHeader from "./ClassicTheme/Classic_Header/ClassicThemeHeader.astro";
import ClassicThemeFormFields from "./ClassicTheme/Classic_FormFields/ClassicThemeFormFields.astro";
import ClassicThemeProduct from "./ClassicTheme/ClassicThemeProduct/ClassicThemeProduct.astro";
import ClassicThemeCountDown from "./ClassicTheme/ClassicThemeCountdown/ClassicThemeCountDown.astro";

interface ComponentCheckResult {
  isComponentFound: boolean;
  componentData: BlockData | undefined;
}

const funnelPage = (Astro.props as { funnelPage: Data }).funnelPage;

const classicComponentNames: [FunnelClassicComponents, BlockData][] = funnelPage.blocks
  .map(block => {
    const component = getClassicThemeComponent(block.name);
    return component ? [component, block.data] : undefined;
  })
  .filter((tuple): tuple is [FunnelClassicComponents, BlockData] => tuple !== undefined);

function isComponentFound(componentName: FunnelClassicComponents): ComponentCheckResult {
  const found = classicComponentNames.find(([comp]) => comp === componentName);
  return {
    isComponentFound: !!found,
    componentData: found?.[1]
  };
}

---

{isComponentFound(FunnelClassicComponents.ClassicHeader).isComponentFound && (
  <ClassicThemeHeader data={isComponentFound(FunnelClassicComponents.ClassicHeader).componentData} />
)}

<main class="container flex-col justify-center items-center gap-4">

<ClassicThemeProduct Product={funnelPage.product}></ClassicThemeProduct>

{isComponentFound(FunnelClassicComponents.ClassicFormFields).isComponentFound && (
  <ClassicThemeFormFields data={isComponentFound(FunnelClassicComponents.ClassicFormFields).componentData} />
)}
{isComponentFound(FunnelClassicComponents.ClassicCountdown).isComponentFound && (
  <ClassicThemeCountDown data={isComponentFound(FunnelClassicComponents.ClassicCountdown).componentData} />
)}
  </main>
<!-- 
{isComponentFound(FunnelClassicComponents.ClassicTodayOrders).isComponentFound && (
  <ClassicThemeTodayOrders data={isComponentFound(FunnelClassicComponents.ClassicTodayOrders).componentData}  />
)}

{isComponentFound(FunnelClassicComponents.ClassicRates).isComponentFound && (
  <ClassicThemeRates data={isComponentFound(FunnelClassicComponents.ClassicRates).componentData} />
)}


{isComponentFound(FunnelClassicComponents.ClassicProductFunnel).isComponentFound && (
  <ClassicThemeProductFunnel data={isComponentFound(FunnelClassicComponents.ClassicProductFunnel).componentData} />
)}

{isComponentFound(FunnelClassicComponents.ClassicFooter).isComponentFound && (
  <ClassicThemeFooter data={isComponentFound(FunnelClassicComponents.ClassicFooter).componentData} />
)}

 -->