---
import type { Meta } from "../lib/api/types";

const metadata: Meta = Astro.props.metadata;
const strThemeName: string = Astro.props.strThemeName;
const themeCss: string = Astro.props.themeCss;
const facebookPixelID = Astro.props.facebookPixelID;
const twitterPixelID = Astro.props.twitterPixelID;
const snapchatPixelID = Astro.props.snapchatPixelID;
const tiktokPixelID = Astro.props.tiktokPixelID;

---

<!doctype html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="icon" type="image/svg+xml+png" href={metadata.image} />
		<meta name="generator" content={Astro.generator} />

		<!-- SOLUTION 2: Hide body initially -->
		<style>
			body {
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
			}
			body.loaded {
				opacity: 1;
			}
		</style>

		<!-- Preload the dynamic CSS -->
		<link
			rel="preload"
			href={`${themeCss}?v=${Date.now()}`}
			as="style"
			onload="
this.onload=null;this.rel='stylesheet'"
		/>

		<!--  -->
 <!-- <script type="module" define:vars={{
  facebookPixelID,
  twitterPixelID,
  snapchatPixelID,
  tiktokPixelID
}}>
  if (facebookPixelID) {
    import("/src/lib/Tracking/facebook-tracking").then(({ initFacebookPixel }) => {
      initFacebookPixel(facebookPixelID);
    });
  }

  if (twitterPixelID) {
    import("/src/lib/Tracking/twitter-tracking").then(({ initTwitterPixel }) => {
      initTwitterPixel(twitterPixelID);
    });
  }

  if (snapchatPixelID) {
    import("/src/lib/Tracking/snapchat-tracking").then(({ initSnapchatPixel }) => {
      initSnapchatPixel(snapchatPixelID);
    });
  }

  if (tiktokPixelID) {
    import("/src/lib/Tracking/tiktok-tracking").then(({ initTikTokPixel }) => {
      initTikTokPixel(tiktokPixelID);
    });
  }
</script> -->
<!-- TikTok Pixel Code Start -->
{
{/* <script>
!function (w, d, t) {
  w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie","holdConsent","revokeConsent","grantConsent"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(
var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var r="https://analytics.tiktok.com/i18n/pixel/events.js",o=n&&n.partner;ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=r,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script")
;n.type="text/javascript",n.async=!0,n.src=r+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};


  ttq.load('D0HIOORC77UDE7SP6TCG');
  ttq.page();
}(window, document, 'ttq');
</script>
<!-- TikTok Pixel Code End -->
<!-- Snap Pixel Code -->
<script type='text/javascript'>
(function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
{a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
r.src=n;var u=t.getElementsByTagName(s)[0];
u.parentNode.insertBefore(r,u);})(window,document,
'https://sc-static.net/scevent.min.js');

snaptr('init', '8823c4ae-cecf-4d8a-b6c3-b13fab0ad04b');

snaptr('track', 'PAGE_VIEW');

</script> */}

}
<!-- End Snap Pixel Code -->
		<!--  -->

		<!-- SEO Meta Tags -->
		<title>{metadata.title}</title>
		<meta name="description" content={metadata.description} />
		<meta name="keywords" content={metadata.title} />
		<meta name="author" content="Funnel Page" />
		<meta name="robots" content="index, follow" />
		<!-- Additional SEO Tags -->
		<link rel="canonical" href="https://www.yourdomain.com/page-url" />
		<link rel="icon" href={metadata.image} type="image/x-icon" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<!-- stylesheet -->
		<link
			rel="stylesheet"
			href={`Theme-Styling/${strThemeName}-root.css`}
		/>
		<!-- Open Graph / Facebook Meta Tags -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.yourdomain.com/page-url" />
		<meta property="og:title" content={metadata.title} />
		<meta property="og:description" content={metadata.description} />
		<meta property="og:image" content={metadata.image} />
		<meta property="og:image:alt" content={metadata.title} />
		<meta property="og:site_name" content="Your Site Name" />
		<meta property="og:locale" content="en_US" />
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content={metadata.image} />
		<meta name="twitter:site" content="@YourTwitterHandle" />
		<meta name="twitter:creator" content="@ContentCreator" />
		<meta name="twitter:title" content={metadata.title} />
		<meta name="twitter:description" content={metadata.description} />
		<meta name="twitter:image" content={metadata.image} />
		<meta name="twitter:image:alt" content={metadata.title} />
	</head>
	<body>
		<slot />
	</body>
</html>

<script is:inline define:vars={{ themeCss }}>
	const link = document.createElement("link");
	link.rel = "stylesheet";
	link.href = themeCss + "?v=" + Date.now();

	// Show body when CSS is loaded
	link.onload = function () {
		document.body.classList.add("loaded");
	};

	document.head.appendChild(link);
</script>
