---
// ProductImageSection.astro
import "./classicImageTextBeside.css"
import type { BlockData } from "../../../../../lib/api/types";
import ClassicBuyNowButton from "../UI/ClassicBuyNowButton/ClassicBuyNowButton.astro";
import { FunnelClassicComponents } from "../../../../../lib/constants/themes";

const data: BlockData = Astro.props.data;
---

<section id={FunnelClassicComponents.ClassicImageTextBeside} class="classic-section px-4 sm:px-6 lg:px-12 py-12">
  <!-- Header -->
  <div class="classic-section-header">
    <i class="fa-solid fa-images"></i>
    <h5>{data.title}</h5>
  </div>
  
  <!-- Product Grid -->
  <div class="classic-image-text-beside grid grid-cols-1 lg:grid-cols-2 gap-6 items-start overflow-hidden">
    
    <!-- Image Section -->
    <div class="h-64 sm:h-96  overflow-hidden">
      <img 
        src={data.image?.src}
        alt={data.image?.alt}
        class="w-full h-full object-cover classic-image-text-beside-image"
      />
    </div>
    
    <!-- Text Section -->
    <div class="classic-image-text-beside-content flex flex-col justify-start items-start w-full gap-2 p-6 sm:p-10 space-y-6 text-right backdrop-blur-sm h-full">
      <h2 class="classic-image-text-beside-title text-3xl font-bold">
        {data.subtitle}
      </h2>
      <p class="classic-image-text-beside-description text-base leading-relaxed">
        {data.description}
      </p>
      <div class="flex-1"></div>
      <ClassicBuyNowButton />
    </div>
  </div>
</section>